.login {
  color: white;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url("https://e00-marca.uecdn.es/assets/multimedia/imagenes/2022/03/31/16487345267062.jpg");
  object-fit: cover;
}
.loginTitle {
  font-size: 50px;
}
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: aqua;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(188, 248, 248);
}
.registerButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: bisque;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
