.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
}
.singlePostEdit {
  float: right;
  font-size: 16px;
}
.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}
.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600px;
}

.singlePostTitleInput {
  margin: 10px;
  font-size: 28px;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
}
.singlePostTitleInput:focus {
  outline: none;
}

.singlePostDescInput {
  border: none;
  font-size: 18px;
  line-height: 25px;
}
.singlePostDescInput:focus {
  outline: none;
}
.singlePostDesc {
  font-size: 18px;
  line-height: 25px;
}
.singlePostBtn {
  border: none;
  width: 100px;
  border-radius: 5px;
  align-self: flex-end;
}
