@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
.top {
  width: 100%;
  z-index: 999;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Koulen", cursive;
  background-color: white;
}

.topLeft {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 25px;
}
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 50px;
}
.topCenter {
  flex: 6;
}
.topImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-left: 10px;
}
.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(27, 27, 27);
  cursor: pointer;
}
.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}
.topListItem1 {
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  padding-left: 10px;
}
.topListItem2 {
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topSearch {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}
.img {
  height: 80px;
  width: 100px;
}
