@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
.footer {
  height: 400px;
  background-color: black;
  color: rgba(255, 255, 255, 0.849);
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Koulen", cursive;
  font-size: 50px;

  display: flex;
  justify-content: center;
}

.bannerP:hover {
  color: white;
  cursor: pointer;
}
.topIcon {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
